.WeightLossTreatment {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
}

.WLTSectionOne {
  background-color: #004240;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  height: 45vw;
  overflow: hidden;
}

.WLTSectionOneHeader {
  font-size: 3rem;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 7.5rem;
  margin-bottom: 2rem;
}

.WLTSectionOneParagraph {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: #d6fffe;
  margin-bottom: 4rem;
}

.WLTSectionOneLeft {
  width: 60%;
  box-sizing: border-box;
  margin-left: 8.5rem;
}

.WLTSectionOneRight {
  width: 40%;
  box-sizing: border-box;
  margin-right: 8.5rem;
  margin-top: 8.2rem;
}

.WLTSectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WLTTabNavigationBar {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
}

.WLTTabContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  border-bottom: 0.1rem solid;
}

.WLTTabButton {
  background: none;
  border: none;
  padding: 2rem 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #707070;
  cursor: pointer;
  position: relative;
  flex: 1;
  text-align: center;
  transition: color 0.3s ease;
}

.WLTTabButton.active {
  color: #1d7c69;
  font-weight: 700;
}

.WLTTabButton.active::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  bottom: -0.1rem;
  left: 0;
  background-color: #1d7c69;
  width: 100%;
  flex: 1;
}

.WLTTabContent {
  width: 100%;
  position: relative;
}

.WLTTabContentHeader {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 0 !important;
  margin-bottom: 2rem;
}

.WLTSectionThree {
  background-color: #004240;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 45vw;
}

.WLTSectionThreeHeader {
  font-size: 3rem;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 7.5rem;
  margin-bottom: 2rem;
}

.WLTSectionThreeList {
  list-style-type: none;
  padding-left: 0;
  width: 80%;
  max-width: 72rem;
}

.WLTSectionThreeList li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.WLTSectionThreeList li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  background-color: #adffed;
  width: 1rem;
  height: 1rem;
  border-radius: 0.1rem;
  transform: translateY(-10%);
}

.WLTSectionThreeListItem {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  color: white;
  position: relative;
  margin-left: 2rem;
}

.LifestyleSectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LifestyleSectionOneHeader {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.LifestyleSectionOneHeaderParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.LifestyleSectionTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.LifestyleSectionTwoHeader {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.LifestyleSectionTwoParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.LifestyleSectionList {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}

.LifestyleSectionList li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 2rem;
  display: flex;
  align-items: flex-start;
}

.LifestyleSectionList li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: #408f6f;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.1rem;
  transform: translateY(-10%);
}

.LifestyleSectionListItem {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  position: relative;
  margin-left: 2rem;
}

.LifestyleSectionThreeHeader {
  font-size: 2rem;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.LifestyleSectionThree {
  background-color: #004240;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  min-height: 45vw;
  padding-bottom: 5rem;
}

.FoodCheatSheet {
  width: 80%;
}

.LifestyleSectionFour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.LifestyleSectionFourHeader {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.LifestyleSectionFourSubtext {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;
}

.LifestyleSectionFourParagraph {
  margin-top: 12rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.LifestyleSectionFive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.LifestyleSectionFiveHeader {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.LifestyleSectionFiveParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.LifestyleSectionFiveContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.LifestyleSectionDivider {
  width: 0.2rem;
  background-color: #fee6dc;
  align-self: stretch;
  margin: 1rem 0;
  min-height: 20rem;
  display: block;
}

.LifestyleSectionFiveContentRight {
  margin-bottom: 17rem;
  margin-right: 5rem;
}

.WeightSectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WeightSectionOneHeader {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.WeightSectionOneParagraph {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-bottom: 2rem;
}

.WeightArrow {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4v16m0 0l-6-6m6 6l6-6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-color: #006650;
}

.WeightLossFooter {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-align: center;
}

.WeightArrowAndFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.WeightLossSectionFooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

.WeightSectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.WeightSectionTwoParagraph {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.BariatricSectionOne {
  display: flex;
  flex-direction: column;
}

.BariatricSectionOneHeader {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  align-self: center;
}

.BariatricSectionOneParagraph {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-top: 3rem;
  margin-bottom: 2rem;
  word-spacing: 0.25rem;
}

.BariatricSectionOneHeaderTwo {
  font-size: 2.25rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-top: 2rem;
}

.BariatricSectionOneListHeader {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Risk {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 66rem;
  width: 100%;
  align-self: center;
}

.RiskNumberBox {
  width: 2.75rem;
  height: 2.75rem;
  min-height: 2.5rem;
  min-width: 2.5rem;
  flex-shrink: 0;
  background-color: #006650;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-top: 1.25rem;
  border-radius: 1.25rem;
}

.RiskParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  flex: 1;
  text-align: left;
}

.RiskContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;

  align-self: center;
}

.BariatricSectionTwo {
  display: flex;
  flex-direction: column;
}

.BariatricSectionTwoHeader {
  font-size: 2.25rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.BariatricSectionTwoParagraph {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-bottom: 3rem;
  word-spacing: 0.25rem;
}

.BariatricSectionTwoContentContainer {
  display: flex;
  flex-direction: column;
}

.BariatricSectionTwoContent {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
}

.BariatricSectionTwoContentLeft {
  width: 55%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.BariatricSectionTwoContentRight {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.BariatricSectionTwoContentHeader {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}

.BariatricSectionTwoListHeader {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
}

.BariatricSectionDivider {
  border-bottom: 0.2rem solid;
  border-color: #fee6dc;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.BariatricSectionTwoList {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}

.BariatricSectionTwoList li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 2rem;
  display: flex;
  align-items: flex-start;
}

.BariatricSectionTwoList li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: #408f6f;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.1rem;
  transform: translateY(-10%);
}

.BariatricSectionTwoListItem {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  position: relative;
  margin-left: 2rem;
}

.BariatricSectionTwoListParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.BPDDS {
  align-self: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.BariatricSectionTwoContentAlt {
  display: flex;
  flex-direction: column;
}

.BariatricSectionThree {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BariatricSectionThreeParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
}

.RedBell {
  height: 3rem;
  width: 3rem;
}

@media screen and (max-width: 1250px) {
  .WLTSectionOneHeader {
    font-size: 2.5rem;
  }

  .WLTSectionOneParagraph {
    margin-bottom: 0rem;
  }

  .WeightLossTreatmentLandingImage,
  .WLTSectionOneParagraph br,
  .WLTSectionThreeListItem br,
  .LifestyleSectionOneHeaderParagraph br,
  .LifestyleSectionTwoParagraph br,
  .LifestyleSectionListItem br,
  .LifestyleSectionFourParagraph br,
  .LifestyleSectionFiveParagraph br,
  .LifestyleSectionDivider,
  .WeightSectionOneParagraph br,
  .WeightSectionTwoParagraph br,
  .BariatricSectionOneParagraph br,
  .RiskParagraph br,
  .BariatricSectionOneParagraph br {
    display: none;
  }

  .WLTSectionOne {
    flex-direction: column;
    max-height: none;
    height: auto;
  }

  .WLTSectionOneLeft {
    width: 90%;
    box-sizing: border-box;
    margin-left: 0rem;
    text-align: center;
  }

  .WLTSectionTwoHeader {
    font-size: 1.75rem;
    padding: 0rem 2rem;
  }

  .WLTTabContentHeader {
    font-size: 2rem;
  }

  .WLTTabContentWrapper {
    position: relative;
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    overflow: visible;
  }

  .WLTTabContentContainer.active {
    display: block !important;
  }

  .WLTTabContainer {
    justify-content: center;
  }

  .WLTTabButton {
    display: none;
  }

  .WLTTabButton.active {
    display: block;
  }

  .WLTSectionThreeHeader {
    font-size: 1.75rem;
    width: 90%;
    margin-top: 5rem;
  }

  .WLTSectionThree {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0rem;
    margin-left: 0rem;
    text-align: center;
  }

  .WLTSectionThreeList,
  .LifestyleSectionList,
  .BariatricSectionTwoList {
    width: 90%;
    max-width: 90%;
    padding-left: 0;
    text-align: center;
    align-self: center;
    margin: 0 auto;
  }

  .WLTSectionThreeList li,
  .LifestyleSectionList li,
  .BariatricSectionTwoList li {
    text-align: left;
    display: block;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
  }

  .WLTSectionThreeListItem,
  .LifestyleSectionListItem,
  .BariatricSectionTwoListItem {
    padding-right: 1rem;
    box-sizing: border-box;
    margin-left: 0;
  }

  .LifestyleSectionOneHeader,
  .WeightSectionOneHeader,
  .BariatricSectionOneHeader {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .LifestyleAdviceCircle {
    width: 100%;
  }

  .LifestyleSectionTwo,
  .LifestyleSectionFour,
  .LifestyleSectionFive,
  .LifestyleSectionFiveContent,
  .WeightSectionOne,
  .WeightSectionTwo,
  .BariatricSectionOne,
  .BariatricSectionTwo,
  .BariatricSectionTwoContentContainer,
  .BariatricSectionTwoContentAlt {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .LifestyleSectionThreeHeader {
    text-align: center;
  }

  .FoodCheatSheet,
  .SurgeryCare {
    width: 95%;
  }

  .BPDDS {
    margin-top: 1rem;
    width: 100%;
  }

  .LifestyleSectionFour {
    margin-top: 0rem;
  }

  .ExerciseBenefits {
    width: 100%;
    margin-bottom: 0;
  }

  .LifestyleSectionFourParagraph {
    margin-top: 2rem;
  }

  .LifestyleSectionFiveContentRight {
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .WeightSectionOneParagraph.PhotoHeader,
  .WeightLossMechanisms,
  .WeightLossSectionFooterContainer {
    display: none;
  }
  .WeightLossMedications {
    width: 100%;
    margin-top: -5rem;
    margin-bottom: -3rem;
  }

  .BariatricSectionTwoContent {
    flex-direction: column;
    align-items: center;
  }

  .BariatricSectionTwoContentLeft {
    width: 90%;
  }

  .BariatricSectionTwoContentRight {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .BariatricSectionDivider {
    width: 100%;
  }

  .LifestyleSectionOneHeader,
  .WeightSectionOneHeader,
  .BariatricSectionOneHeader {
    display: none;
  }

  .MacronutrientsTable {
    width: 100%;
  }
}
