.CausesOfObesityPage {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.COOPSectionOne {
  background-color: #004240;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 47vw;
  max-height: 47vw;
}

.COOPSectionOneHeader {
  font-size: 3rem;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 7.5rem;
}

.COOPSectionOneLeft {
  width: 60%;
  box-sizing: border-box;
  margin-left: 8.5rem;
}

.COOPSectionOneRight {
  width: 40%;
  box-sizing: border-box;
  margin-right: 3rem;
}

.CausesOfObesityPageLandingImage {
  margin-top: 12vw;
  height: 35vw;
}

.COOPSectionOneParagraph {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: #d6fffe;
  margin-bottom: 4rem;
}

.COOPSectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.COOPSectionTwoHeader {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: #004240;
}

.COOPTabNavigationBar {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
}

.COOPTabContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  border-bottom: 0.1rem solid;
}

.COOPTabButton {
  background: none;
  border: none;
  padding: 2rem 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #707070;
  cursor: pointer;
  position: relative;
  flex: 1;
  text-align: center;
  transition: color 0.3s ease;
}

.COOPTabButton.active {
  color: #1d7c69;
  font-weight: 700;
}

.COOPTabButton.active::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  bottom: -0.1rem;
  left: 0;
  background-color: #1d7c69;
  width: 100%;
  flex: 1;
}

.COOPTabContent {
  width: 100%;
  position: relative;
}

.COOPTabContentHeader {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 0 !important;
  margin-bottom: 2rem;
}

.COOPSectionThree {
  background-color: #004240;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 45vw;
}

.COOPSectionThreeHeader {
  font-size: 3rem;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 7.5rem;
  margin-bottom: 2rem;
}

.COOPSectionThreeList {
  list-style-type: none;
  padding-left: 0;
  width: 80%;
  max-width: 72rem;
}

.COOPSectionThreeList li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.COOPSectionThreeList li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  background-color: #adffed;
  width: 1rem;
  height: 1rem;
  border-radius: 0.1rem;
  transform: translateY(-10%);
}

.COOPSectionThreeListItem {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  color: white;
  position: relative;
  margin-left: 2rem;
}

.BiologicalSectionOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.BiologicalSectionOneParagraph {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

.BiologicalSectionTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}

.BiologicalSectionTwoLeft {
  width: 55%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.BiologicalSectionTwoRight {
  width: 45%;
  box-sizing: border-box;
  margin-left: 5rem;
}

.BiologicalSectionTwoHeader {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2rem;
}

.BiologicalSectionSubHeader {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  text-align: center;
}

.BiologicalSectionTwoRightParagraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
}

.BiologicalSectionLink {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  text-align: center;
  color: #004240;
}

.DNAWithNumbersImage {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.BiologicalSectionDivider {
  border-bottom: 0.2rem solid;
  border-color: #fee6dc;
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

.BiologicalSectionThree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.BiologicalSectionThreeLeft {
  width: 45%;
  box-sizing: border-box;
  margin-right: 2rem;
}

.BiologicalSectionThreeRight {
  width: 55%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}

.BiologicalSectionThreeParagraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  margin-left: 2rem;
}

.BiologicalSectionThreeLink {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: #408f6f;
}

.NutritionSectionOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: 3rem;
}

.NutritionSectionOneParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
}

.NutritionSectionTwo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NutritionSectionTwoParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
}

.NutritionSectionThree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.NutritionTableTwoIndividual {
  display: none;
}

.NutritionSectionThreeHeader {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.NutritionTableTwoImage {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.NutritionSectionThreeParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
}

.NutritionSectionFourHeader {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.ProcessedFoodGuideImage {
  margin-top: 2rem;
}

.ProcessedFoodGuideOne,
.ProcessedFoodGuideTwo,
.ProcessedFoodGuideThree,
.ProcessedFoodGuideFour {
  display: none;
}
.MedicinesSectionOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.MedicinesSectionOneParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
}

.MedcineSectionOneList {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}

.MedcineSectionOneList li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 2rem;
  display: flex;
  align-items: flex-start;
}

.MedcineSectionOneList li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: #408f6f;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.1rem;
  transform: translateY(-10%);
}

.MedcineSectionOneListItem {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  position: relative;
  margin-left: 2rem;
}

.MedicinesSectionTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.MedicationsTableImage {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.MedicinesSectionTwoParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
}

.StressSectionOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.StressSectionOneParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
}

.BrainImage {
  max-height: 16rem;
  max-width: 14rem;
}

.CortisolImage {
  max-height: 8rem;
  max-width: 21rem;
}

.DigestiveAndBrainImage {
  max-height: 13rem;
  max-width: 29rem;
}

.ImageFooter {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
}

.StressSectionOneRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.StressSectionOneRightDoubleFooter {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1.5rem;
  text-align: center;
}

.StressSectionTwoHeader {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  margin-bottom: 5rem;
}

.StressSectionTwoContent {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  gap: 2rem;
  position: relative;
  min-height: 22rem;
}

.StressContentGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 33%;
}

.StressContentFooters {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 1385px) {
  .COOPSectionOneHeader {
    margin-right: 3rem;
  }
  .COOPSectionOneHeader br {
    display: none;
  }
  .COOPSectionOneParagraph br {
    display: none;
  }
}

.SectionBreak {
  display: block;
}

@media screen and (max-width: 1250px) {
  .COOPSectionOneHeader {
    margin-right: 0rem;
    font-size: 2.5rem;
    margin-top: 0;
  }

  .COOPSectionTwoHeader {
    font-size: 1.75rem;
    padding: 0rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .COOPTabContentHeader,
  .BiologicalSectionTwoHeader,
  .NutritionSectionThreeHeader,
  .NutritionSectionFourHeader,
  .COOPSectionThreeHeader {
    font-size: 1.75rem;
  }

  .COOPTabContentWrapper {
    position: relative;
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    overflow: visible;
  }

  .arrow-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    margin-top: -3rem;
    transform: translateY(-50%);
    z-index: 1;
    color: #408f6f;
  }

  .arrow-left {
    left: 0.5rem;
  }

  .arrow-right {
    right: 0.5rem;
  }

  .COOPTabContentContainer.active {
    display: block !important;
  }

  .COOPTabContainer {
    justify-content: center;
  }

  .COOPTabButton {
    display: none;
  }

  .COOPTabButton.active {
    display: block;
  }

  .COOPTabContent {
    padding-top: 2rem;
  }

  .BiologicalSectionDivider {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }

  .BiologicalSectionTwo {
    margin-top: 0rem;
  }

  .COOPSectionOneParagraph {
    font-size: 1rem;
    margin-bottom: 0rem;
  }

  .COOPSectionOne {
    height: 175vw;
    flex-direction: column;
    max-height: none;
    align-items: center;
    justify-content: center;
  }

  .COOPSectionOneLeft {
    margin-top: 5rem;
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 5rem;
    margin-left: 0rem;
    text-align: center;
  }

  .CausesOfObesityPageLandingImage {
    display: none;
  }

  .MedcineSectionOneList {
    width: fit-content;
    margin: 1rem auto;
    text-align: left;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .BiologicalSectionOne,
  .NutritionSectionOne,
  .MedicinesSectionOne,
  .StressSectionOne {
    margin-top: 0;
  }

  .BiologicalSectionOne,
  .BiologicalSectionTwo,
  .BiologicalSectionThree,
  .NutritionSectionOne,
  .NutritionSectionTwo,
  .NutritionSectionThree,
  .NutritionSectionFour,
  .MedicinesSectionOne,
  .MedicinesSectionTwo,
  .StressSectionOne,
  .StressSectionTwo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .NutritionSectionOne,
  .NutritionSectionTwo {
    margin-bottom: 0rem;
  }

  .StressSectionOne {
    margin-bottom: 2rem;
  }

  .NutritionSectionThree {
    margin-top: -2rem;
  }

  .NutritionTableTwoImage,
  .ProcessedFoodGuideImage {
    display: none;
  }

  .NutritionTableTwoIndividual {
    display: block;
    align-self: center;
    margin-top: 1rem;
  }

  .NutritionTableTwoIndividual.Granola {
    width: 90vw;
  }

  .NutritionTableTwoIndividual.TrailMix {
    width: 90vw;
  }

  .NutritionTableTwoIndividual.Smoothie {
    width: 91vw;
  }

  .NutritionTableTwoIndividual.Yogurt {
    width: 89vw;
    margin-left: 0.25rem;
  }

  .NutritionTableTwoIndividual.Protein {
    width: 92vw;
    margin-right: 1rem;
  }

  .NutritionTableTwoIndividual.Juice {
    width: 90vw;
    margin-right: 0.5rem;
  }

  .ProcessedFoodGuideOne,
  .ProcessedFoodGuideTwo,
  .ProcessedFoodGuideThree,
  .ProcessedFoodGuideFour {
    display: block;
    width: 90vw;
    margin-bottom: 1rem;
  }
  .StressSectionTwoContent {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }

  .StressContentGroup {
    width: 90%;
  }

  .StressContentFooters {
    position: relative;
  }

  .COOPSectionTwoHeader br,
  .BiologicalSectionOneParagraph br,
  .BiologicalSectionSubHeader br,
  .BiologicalSectionThreeParagraph br,
  .BiologicalSectionTwoRightParagraph br,
  .NutritionSectionOneParagraph br,
  .NutritionSectionTwoParagraph br,
  .NutritionSectionThreeParagraph br,
  .MedicinesSectionOneParagraph br,
  .MedicinesSectionTwoParagraph br,
  .StressSectionOneParagraph br,
  .StressContentFooters br {
    display: none;
  }

  .BiologicalSectionOneLeft,
  .BiologicalSectionOneRight,
  .BiologicalSectionTwoLeft,
  .BiologicalSectionTwoRight,
  .BiologicalSectionThreeLeft,
  .BiologicalSectionThreeRight,
  .NutritionSectionOneLeft,
  .NutritionSectionOneRight,
  .MedicinesSectionOneLeft,
  .MedicinesSectionOneRight,
  .StressSectionOneLeft,
  .StressSectionOneRight {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .BiologicalSectionOneParagraph,
  .BiologicalSectionOneRight {
    margin-top: 2.5rem;
  }

  .BiologicalSectionThreeLeft,
  .BiologicalSectionThreeRight,
  .BiologicalSectionThreeParagraph {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .BiologicalSectionOneParagraph,
  .BiologicalSectionSubHeader,
  .BiologicalSectionLink,
  .BiologicalSectionTwoRightParagraph,
  .BiologicalSectionThreeParagraph,
  .NutritionSectionOneParagraph,
  .NutritionSectionTwoParagraph,
  .NutritionSectionThreeParagraph,
  .MedicinesSectionOneParagraph,
  .MedcineSectionOneListItem,
  .MedicinesSectionTwoParagraph,
  .StressSectionOneParagraph,
  .ImageFooter,
  .StressContentFooters {
    font-size: 1rem;
  }

  .StressSectionTwoHeader {
    font-weight: 400;
  }
  .SectionBreak {
    display: block !important;
  }

  .HeartImage,
  .DNAImage,
  .NutritionTableImage,
  .PillsImage {
    display: none;
  }

  .DNAImage,
  .HeartImage {
    max-width: 65vw;
  }

  .MedicationsTableImage {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  .ProcessedFoodGuideImage,
  .DNAWithNumbersImage,
  .MedicationsTableImage {
    max-width: 95vw;
  }

  .COOPSectionThreeHeader {
    font-size: 1.75rem;
    width: 90%;
    margin-top: 5rem;
  }

  .COOPSectionThree {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0rem;
    margin-left: 0rem;
    text-align: center;
  }

  .COOPSectionThreeList {
    width: 90%;
    max-width: 90%;
    padding-left: 0;
    text-align: center;
    align-self: center;
    margin: 0 auto;
  }

  .COOPSectionThreeList li {
    text-align: left;
    display: block;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
  }

  .COOPSectionThreeListItem {
    padding-right: 1rem;
    box-sizing: border-box;
    margin-left: 0;
    font-size: 1rem;
  }

  .BrainImage,
  .CortisolImage,
  .ThinkingImage,
  .LowEnergyPerson {
    width: 40vw;
    margin-top: 2rem;
  }

  .DigestiveAndBrainImage {
    width: 80vw;
    margin-top: 2rem;
  }

  .ScaleImage {
    width: 50vw;
  }
}
