.ChallengesOfWeightLoss {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.COWLSectionOne {
  background-color: #004240;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 38vw;
  max-height: 38vw;
  margin-top: 0;
}

.COWLSectionOneLeft {
  width: 67%;
  box-sizing: border-box;
  margin-left: 8.5rem;
}

.COWLSectionOneRight {
  width: 33%;
  box-sizing: border-box;
}

.COWLSectionOneHeader {
  font-size: 3.5rem;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 7.5rem;
}

.COWLSectionOneParagraph {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: #d6fffe;
}

.COWLLandingImage {
  max-width: 21vw;
  height: auto;
  position: absolute;
  right: 6rem;
  bottom: 0;
}

.COWLSectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.COWLSectionTwoParagraph {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  align-self: center;
}

.COWLSectionTwoHeader {
  font-size: 2rem;
  color: #004240;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  align-self: center;
  margin-left: 0;
}

.COWLSectionTwoList {
  list-style-type: none;
  padding-left: 0;
  margin-left: 3rem;
  align-self: center;
}

.COWLSectionTwoList li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.COWLSectionTwoList li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4rem;
  background-color: #408f6f;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.1rem;
}

.COWLSectionTwoListItem {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  position: relative;
  margin-left: 2rem;
}

.COWLSectionTwoVideoHeader {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  color: #004240;
  align-self: center;
}

.COWLVideo {
  max-width: 70vw;
  max-height: 35vw;
  border: 0.1rem solid;
  margin-bottom: 3rem;
  align-self: center;
}

.Advice {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 66rem;
  width: 80%;
  align-self: center;
}

.AdviceNumberBox {
  width: 2.5rem;
  height: 2.5rem;
  min-height: 2.5rem;
  min-width: 2.5rem;
  flex-shrink: 0;
  background-color: #006650;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-top: 1rem;
  border-radius: 1.25rem;
}

.AdviceParagraph {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  flex: 1;
  text-align: left;
}

.AdviceContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  align-items: center;
  margin-bottom: 3rem;
  align-self: center;
}

.COWLSectionThree {
  background-color: #004240;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 45vw;
}

.COWLSectionThreeHeader {
  font-size: 3rem;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 7.5rem;
  margin-bottom: 2rem;
}

.COWLSectionThreeList {
  list-style-type: none;
  padding-left: 0;
  width: 80%;
  max-width: 72rem;
}

.COWLSectionThreeList li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  margin-left: 8rem;
}

.COWLSectionThreeList li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  background-color: #adffed;
  width: 1rem;
  height: 1rem;
  border-radius: 0.1rem;
  transform: translateY(-10%);
}

.COWLSectionThreeListItem {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  color: white;
  position: relative;
  margin-left: 2rem;
}

@media screen and (max-width: 1250px) {
  .COWLLandingImage {
    display: none;
  }

  .COWLSectionOneHeader {
    font-size: 2.5rem;
  }
  .COWLSectionOne {
    height: 175vw;
    flex-direction: column;
    max-height: none;
    align-items: center;
    justify-content: center;
  }

  .COWLSectionTwo,
  .AdviceContainer {
    width: 90%;
  }

  .COWLSectionTwo {
    margin-top: 2rem;
  }

  .COWLSectionTwoHeader {
    font-size: 1.75rem;
  }
  .COWLSectionTwoParagraph,
  .COWLSectionTwoListItem,
  .COWLSectionOneParagraph,
  .COWLSectionThreeListItem,
  .AdviceParagraph {
    font-size: 1rem;
  }
  .AdviceContainer {
    margin-bottom: 2rem;
    gap: 1rem;
  }

  .COWLSectionOneLeft {
    margin-top: 5rem;
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 5rem;
    margin-left: 0rem;
    text-align: center;
  }

  .COWLSectionOneParagraph br,
  .COWLSectionTwoParagraph br,
  .AdviceParagraph br {
    display: none;
  }

  .Advice {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .AdviceParagraph {
    font-size: 1rem;
  }

  .DiscussionQuestionsImage {
    max-width: 103vw;
  }

  .COWLVideo {
    max-width: 95vw;
    max-height: none;
  }

  .COWLSectionTwoParagraph {
    text-align: center;
    align-self: center;
  }

  .COWLSectionThreeHeader {
    font-size: 1.75rem;
    width: 90%;
    margin-top: 5rem;
  }

  .COWLSectionThree {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0rem;
    margin-left: 0rem;
    text-align: center;
  }

  .COWLSectionThreeList {
    width: 90%;
    max-width: 90%;
    padding-left: 0;
    text-align: center;
    align-self: center;
    margin: 0 auto;
  }

  .COWLSectionThreeList li {
    text-align: left;
    display: block;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
  }

  .COWLSectionThreeListItem {
    padding-right: 1rem;
    box-sizing: border-box;
    margin-left: 0;
  }
}
