.NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: -8rem;
  margin-top: 2.5rem;
  border-radius: 0.5rem;
  position: relative;
  background-color: white;
  z-index: 1;
}

.NavigationBar li {
  list-style-type: none;
}

.NavigationBarLeft {
  font-size: 1.5rem;
  color: #004240;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}

.NavigationBarRight {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  display: block;
}

.NavigationBarLinkItem {
  text-decoration: none;
  color: inherit;
}

.NavigationBarLinkList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  margin-right: 5vw;
}

.NavigationBarLinkDropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
}

.DartmouthHealthLogo {
  margin-right: 1rem;
}

.LogoContainer {
  display: flex;
  align-items: center;
}

.LogoContainer a {
  display: flex;
  align-items: center;
}

.NavigationBarMenuIcon {
  font-size: 2.5rem;
  cursor: pointer;
  display: none;
  color: black;
}

.DropdownArrow {
  display: inline-block;
  width: 0.65rem;
  height: 0.65rem;
  border: solid #005350;
  border-width: 0 0.1rem 0.1rem 0;
  transform: rotate(45deg);
  margin-left: 1rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.DropdownArrow.Clicked {
  transform: rotate(-135deg);
  margin-bottom: -0.2rem;
}

.DropdownMenu {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  padding-left: 0;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0.5rem;
  min-width: 13.5rem;
  padding: 0.5rem;
  z-index: 1;
}

.DropdownMenuItem {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  display: block;
  padding: 0.5rem;
  padding-left: 0rem;
  text-align: left;
  transition: background-color 0.2s ease;
}

.DropdownMenu:hover {
  background-color: #e5f6f6;
}

.DropdownToggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}

.DropdownToggle .NavigationBarLinkItem {
  margin-left: 0.5rem;
}

@media screen and (max-width: 1250px) {
  .NavigationBarMenuIcon {
    display: block;
  }

  .NavigationBarRight {
    display: none;
    width: 100%;
  }

  .NavigationBarLeft {
    width: 100%;
    justify-content: space-between;
  }

  .NavigationBarRight.Clicked {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .NavigationBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .NavigationBarLinkList {
    flex-direction: column;
    text-align: left;
    font-size: 1.25rem;
  }

  .DropdownMenuItem {
    font-size: 1.25rem;
  }

  .DropdownMenu:hover {
    background-color: white;
  }
}
