.NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: -8rem;
  margin-top: 2.5rem;
  border-radius: 0.5rem;
  position: relative;
  background-color: white;
  z-index: 1;
}

.NavigationBar li {
  list-style-type: none;
}

.NavigationBarLeft {
  font-size: 1.5rem;
  color: #004240;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}

.NavigationBarRight {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.NavigationBarLinkItem {
  text-decoration: none;
  color: inherit;
}

.NavigationBarLinkList {
  display: flex;
  align-items: center;
  gap: 10vw;
  margin-right: 5vw;
}

.DartmouthHealthLogo {
  margin-right: 1rem;
}
