.NavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 8px;
  border: 0.2rem solid black;
}

.NavigationBar li {
  list-style-type: none;
}

.NavigationBarLeft {
  font-size: 1.5rem;
  color: #005240;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}

.NavigationBarRight {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.NavigationBarLinkItem {
  text-decoration: none;
  color: inherit;
}

.NavigationBarLinkList {
  display: flex;
  align-items: center;
  gap: 10rem;
  margin-right: 5rem;
}

.DartmouthHealthLogo {
  margin-right: 1rem;
}
